<html>
    <head>
        <title>Wordsearch Generator</title>
        <style>
            table tr td { vertical-align: top; }
        </style>
    </head>
    <body>
        <h1>Wordsearch Generator</h1>
        <table>
            <tr>
                <td>Rows:</td>
                <td><input id="rows" value="10" /></td>
            </tr>
            <tr>
                <td>Columns:</td>
                <td><input id="cols" value="10" /></td>
            </tr>
            <tr>
                <td>Words (one per line):</td>
                <td><textarea id="words" style="width: 300px; height: 250px;">{% for word in words %}{{word}}
{% endfor %}</textarea></td>
                <td align="center" style="line-height: 2.5em;">
                    Get <select id="count">
                    {% for n in range(1, 100) %}
                        <option{% if n == 10 %} selected="selected"{% endif %}>{{ n }}</option>
                    {% endfor %}
                    </select>
                    words from<br />
                    <select id="category">
                        <option value="">All words</option>
                        <optgroup id="cat" label="Categories">
                        {% for cat in catlist %}
                            <option>{{ cat }}</option>
                        {% endfor %}
                        </optgroup>
                    </select><br />
                    with lengths between
                    <select id="minlen">
                    {% for n in wordlengths %}
                        <option>{{n}}</option>
                    {% endfor %}
                    </select>
                    and
                    <select id="maxlen">
                    {% for n in wordlengths %}
                        <option{% if n == 10 %} selected="selected"{% endif %}>{{ n }}</option>
                    {% endfor %}
                    </select><br />
                    <button id="replacewordsbtn">replace</button> or <button id="appendwordsbtn">append</button>
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td><button id="generatebtn">generate puzzle</button></td>
            </tr>
        </table>
        <hr />
        <pre id="puzzle"></pre>
        <pre id="wordlist"></pre>
        <script
          src="https://code.jquery.com/jquery-3.1.1.min.js"
          integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
          crossorigin="anonymous"></script>
        <script>
            $(document).ready(function() {
                var getWords = function(append) {
                    $.ajax({
                        type: "GET",
                        url: "/words",
                        data: {
                            "cat": $('#category').val(),
                            "count": $('#count').val(),
                            "minlen": $('#minlen').val(),
                            "maxlen": $('#maxlen').val()
                        }
                    }).done(function(data) {
                        if (data.error) {
                            $('#puzzle').text(data.error);
                            $('#wordlist').text('');
                            return '';
                        } else {
                            new_words = data.join('\n');
                            if (new_words.length > 0) {
                                if (append) {
                                    $('#words').val($('#words').val().trim() + '\n' + new_words);
                                } else {
                                    $('#words').val(new_words);
                                }
                            }
                        }
                    });
                };

                $('#replacewordsbtn').click(function() {
                    getWords(false);
                });

                $('#appendwordsbtn').click(function() {
                   getWords(true);
                });

                $('#generatebtn').click(function() {
                    $.ajax({
                        type: "POST",
                        url: "/create",
                        data: {
                            "width": $('#rows').val(),
                            "height": $('#cols').val(),
                            "words": $('#words').val()
                        }
                    }).done(function(data) {
	                      if (data.error) {
		                        $('#puzzle').text(data.error);
		                        $('#wordlist').text('');
	                      } else {
                            $('#puzzle').text(data.grid);
                            $('#wordlist').text(data.words);
                        }
                    });;

                    return false;
                });
            });
        </script>
    </body>
</html>